<div>
  <form>
    <section class="form-block">
        <label>Select Boxes</label>
        <div class="form-group">
            <label for="selects_1">This is a select box</label>
            <div class="select">
                <select id="selects_1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>50000000</option>
                </select>
            </div>
        </div>
    </section>
  </form>
</div>