<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#/admin" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">ข้อมูลหน่วยสินค้า (Units)</span>
</nav>


<button class="btn btn-sm btn-success" (click)="showModal()">+ เพิ่มรายการ</button>

<clr-datagrid [style.height.%]="80" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'unit_name'">ชื่อหน่วยสินค้า</clr-dg-column>

  <clr-dg-row *clrDgItems="let u of units" [clrDgItem]="u">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(u)">
              <clr-icon shape="note"></clr-icon>
              แก้ไขรายการ</button>
      <button class="action-item" (click)="onDelete(u)">
              <clr-icon shape="trash" class="is-error"></clr-icon>
              ลบรายการ</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{u.unit_name}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModal" [clrModalClosable]="false">
  <h3 class="modal-title">เพิ่ม/แก้ไข หน่วยสินค้า</h3>
  <div class="modal-body">
    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="gForm_1">ชื่อ หน่วยสินค้า</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" name="unitName" type="text" [(ngModel)]="unitName" id="gForm_1">
          </div>
        </div>
      </section>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="openModal = false">ยกเลิก</button>
    <button type="button" class="btn btn-primary" [disabled]="!unitName" (click)="doSave()">บันทึก</button>
  </div>
</clr-modal>