<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#/users" routerLink="/users">หน้าหลัก</a>
  <a class="breadcrumb-item" href="#/users/request" routerLink="/users/request">เบิกวัสดุ</a>
  <span class="breadcrumb-item active">บันทึกขอเบิก</span>
</nav>

<div class="card">
  <div class="card-header">
    รายละเอียดการรับสินค้าเข้าคลัง
  </div>
  <div class="card-block">
    <div class="card-text">

      <form>
        <section class="form-block">
          <div class="form-group row">
            <div class="col-md-2">
              <label for="aForm_1" class="required">วันที่ขอเบิก</label>
            </div>
            <div class="col-md-3">
              <my-date-picker-th name="requestDate" [options]="myDatePickerOptions" [(ngModel)]="requestDate">
              </my-date-picker-th>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2">
              <label for="aForm_1" class="required">เบิกจากคลัง</label>
            </div>
            <div class="col-md-3">
              <div class="select form-control">
                <select [disabled]="isRequest" name="warehouseId" id="warehouseId" [(ngModel)]="warehouseId">
                  <option value="">ระบุคลังที่ต้องการเบิก</option>
                <option *ngFor="let w of warehouses" [value]="w.warehouse_id">{{w.warehouse_name}}</option>
              </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="btn-group">
                <button class="btn btn-sm btn-success" [disabled]="isRequest || !warehouseId" (click)="showProducts()">
                เลือกรายการสินค้า
              </button>
                <button class="btn btn-sm btn-danger" [disabled]="!isRequest || !warehouseId" (click)="changeWarehouse()">
                เปลี่ยนคลัง
              </button>
              </div>
            </div>
          </div>
        </section>
      </form>
      <div *ngIf="isRequest">
        <p>เลือกสินค้าที่ต้องการเบิก</p>
        <form class="search">
          <label for="search_input">
            <input id="search_input" name="query" [(ngModel)]="query" (keyup)="doSearch()" style="width: 300px;" type="text" placeholder="ค้นหาสินค้า...">
        </label>
        </form>
        <clr-datagrid [style.height.px]="250" [clrDgLoading]="loading">
          <clr-dg-column [style.width.%]="40">ชื่อสินค้า</clr-dg-column>
          <clr-dg-column>ประเภท</clr-dg-column>
          <clr-dg-column>หน่วย</clr-dg-column>
          <clr-dg-column></clr-dg-column>

          <clr-dg-row *clrDgItems="let p of allProducts" [clrDgItem]="p">
            <clr-dg-cell>{{p.generic_name}}</clr-dg-cell>
            <clr-dg-cell>{{p.generic_type_name}}</clr-dg-cell>
            <clr-dg-cell>{{p.unit_name}}</clr-dg-cell>
            <clr-dg-cell>
              <div class="btn-group btn-primary">
                <button class="btn btn-sm btn-success" [disabled]="p.is_selected == 'Y'" (click)="addProduct(p)">เพิ่ม</button>
                <!-- <button class="btn btn-sm btn-outline-success" [disabled]="p.is_selected == 'Y'" (click)="showLots(p)">คงเหลือ</button> -->
              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

        <p>รายการเบิก</p>
        <clr-datagrid [style.height.px]="300">
          <clr-dg-column [style.width.%]="40">ชื่อสินค้า</clr-dg-column>
          <clr-dg-column>ประเภท</clr-dg-column>
          <clr-dg-column>หน่วย</clr-dg-column>
          <clr-dg-column>ขอเบิก</clr-dg-column>

          <clr-dg-row *clrDgItems="let g of products" [clrDgItem]="g">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="removeSelected(g)">
              <clr-icon shape="trash" class="is-error"></clr-icon>
              ลบรายการ</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
            <clr-dg-cell>{{g.generic_type_name}}</clr-dg-cell>
            <clr-dg-cell>{{g.unit_name}}</clr-dg-cell>
            <clr-dg-cell>
              <input type="text" [textMask]="{mask: mask, guide: false}" #qty (keyup)="setQty(g, qty)" style="width: 100px; text-align: right;">
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{paginationSelected.firstItem + 1}} - {{paginationSelected.lastItem + 1}} จาก {{paginationSelected.totalItems}} รายการ
            <clr-dg-pagination #paginationSelected [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-primary" [disabled]="!products.length || !requestDate || isSaving" (click)="saveRequest()">บันทึกขอเบิก</button>
    <a href="#/users/request" class="btn btn-sm btn-danger">ยกเลิก</a>
  </div>
</div>
